<div class="dropdown show nav-item">
    <a class="nav-link text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Management
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" asp-controller="Account" asp-action="Register">Add new User</a>
        <a class="dropdown-item" asp-controller="Users" asp-action="AllStudentsList">Manage Users</a>
        <a class="dropdown-item" asp-controller="SchoolClass" asp-action="Index">Manage Classes</a>
    </div>
</div>